/* Login modal css */

.login-modal-container .modal-wrapper-login .login-modal-heading{
    font-weight: 400;
    color: #000;
    font-size: 2rem;
}

.login-modal-container .modal-wrapper-login .login-modal-info{
    font-size: 14px;
    color: var(--text);
    font-weight: 400;
}

.login-modal-container .modal-wrapper-login .login-modal-button{
    color: #FFF;
    background-color: var(--primary);
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    box-shadow: none;
    border-radius:5px ;
}

.login-modal-container .modal-wrapper-login .login-modal-button:is(:hover){
    background-color: var(--hover);
}

.login-modal-container .modal-dialog{
    max-width: max-content;
}

.login-modal-container .modal-wrapper-login .login-modal-inputGroup input{
    box-shadow: none!important;
    border-color: var(--grey)!important;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    color: var(--text);
}

.login-modal-container .modal-wrapper-login .login-modal-inputGroup .input-group-text{
    background: none;
    border-color: var(--grey);
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.login-modal-container .modal-wrapper-login .login-modal-inputGroup input::placeholder{
    color: var(--grey);
    font-weight: normal;
  }

.choose-user-type-sign{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--black)!important;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
}

.choose-user-type-sign.active{
    border: 0!important;
    background: var(--primary);
    color: white;
}

.choose-user-type-sign .user-type-icon-sign{
    font-size: 18px;
    margin-right: 5px;
}